@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");
body {
  /* background-image: url(https://cdn.wallpapersafari.com/23/0/Qpbwdo.jpg); */
  background-color: white;
  margin: 0;
  padding: 0;
}
header {
  background-image: url(https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg);
}

#nav {
  display: flex;
  background: transparent;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
#nav:active {
  color: aqua;
}
#links {
  display: flex;
  justify-content: flex-end;
}
#main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  font-family: "Wire One";
  font-size: 45px;
  color: white;
  text-decoration: none;
  padding-right: 40px;
}
.link:hover {
  color: #984950;
  text-shadow: 0 0 5px red;
  text-decoration: underline 2px aqua;
}
h1 {
  display: flex;
  justify-content: left;
  font-family: "Megrim";
  font-size: 65px;
  color: aqua;
  text-shadow: 0 0 5px white;
  padding-left: 15px;
}
h2 {
  font-size: 75px;
  font-family: "Wire One";
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
h4 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
h5 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.heroimage {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.heroimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.steps {
  border: black solid 7px;
  width: 1000px;
  margin-bottom: 200px;
}

.glow-on-hover {
  margin-left: 400px;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Wire One";
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #007273,
    #9df3f4,
    #522b45,
    #00f0f2,
    #802c2b,
    #227273,
    #009798,
    #522b45,
    #802c2b,
    #467589
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: aqua;
  transform: translate(0px, 5px, 5px);
  border: solid 2px black;
}

.glow-on-hover:active:after {
  background: black;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.icons {
  margin-bottom: 50px;
  background: -webkit-linear-gradient(#802c2b, #537a8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#icon {
  font-size: 100px;

  padding: 30px;
}

footer {
  background-color: black;

  height: 100px;
  width: 100%;
}
.tag {
  display: flex;
  padding-top: 60px;
  padding-left: 15px;
  color: white;
}
.routinesCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  height: auto;
  background-color: white;
  border: double 8px black;
  box-shadow: 0 0 5px black;
  margin-bottom: 10px;
}

.routine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.routine h2 {
  font-size: 50px;
  color: #802c2b;
}
.routine h4 {
  font-size: 20px;
}
.activity {
  padding-right: 20px;
  align-items: flex-start;
}

.activitiesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: auto;
  background-color: white;
  border: double 8px black;
  box-shadow: 0 0 5px black;
  margin-bottom: 25px;
}
.activitiesCard:hover {
  transform: scale(1.01);
  background-color: #984950;
  box-shadow: 0 0 5px black;
}

#activitie {
  color: black;
  font-family: "Wire One";
  font-size: 50px;
}
#activitie:hover {
  color: white;

  transform: scale(1.3);
}
#activitie:visited {
  text-decoration: none;
}
#description:hover {
  color: white;
}

.activity-detail {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.register {
  border: black 2px solid;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 40px;
}
form {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.glows-on-hover {
  width: 160px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Wire One";
}

.glows-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #007273,
    #9df3f4,
    #522b45,
    #00f0f2,
    #802c2b,
    #227273,
    #009798,
    #522b45,
    #802c2b,
    #467589
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glows-on-hover:active {
  color: aqua;
  transform: translate(0px, 5px, 5px);
  border: solid 2px black;
}

.glows-on-hover:active:after {
  background: black;
}

.glows-on-hover:hover:before {
  opacity: 1;
}

.glows-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
